// songs index
.landingAll {
  position: relative;
  top: 50px;
  border-left: 1px solid #BA6ACF;
  border-radius: 5px 0 5px 0;
}

.landing-page-item {
  position: relative;
  display: inline-block;
  margin: 23px;
}

.landing-index-links {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 24px;
  text-align: center;
}

.landingAll p {
  margin: 20px;
}
