// Place all the styles related to the api/lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.line-lyrics {
  font-weight: bold;
}

//Line show
.line-lyrics {
  background-color: #998;
  white-space: pre-line;
  position: relative;
  right: 14px;
  padding: 0 14px 0 14px;
  float: left;
  width: 414px;
  margin-bottom: 12px;
}

.interpretation {
  margin: 5px 0 5px 0;
}

.line-interpretations {
  clear: both;
}
