// Place all the styles related to the api/lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Line show
.line-lyrics {
  background: #BA6ACF;
  border-radius: 5px 5px 0 5px;
  color: #000;
  font-weight: bold;
  white-space: pre-line;
  padding: 0 14px 0 14px;
  margin-bottom: 12px;
}

.interpretation {
  margin: 5px 0 5px 0;
  border-left: 1px solid #BA6ACF;
  padding-left: 14px;
}

.line-interpretations {
  clear: both;
}

.interpretation-form {
  background-color: #222;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.interpretation-form textarea {
  width: 316px;
}

.interpretation-form-errors {
  color: #a00;
}

.interpretation-form-submit {
  top: -30px;
}
