// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Song Show
.song-primary {
  position: relative;
  top: -99px;
  float: left;
  width: 500px;
  border-left: 1px solid #BA6ACF;
  border-radius: 5px 0 5px 0;
}

.line-show {
  float: right;
  width: 400px;
  border-right: 1px solid #BA6ACF;
  border-radius: 0 5px 0 0;
}

.song-lyric {
  display: inline-block;
  cursor: pointer;
  clear: both;
  white-space: pre-line;
  font-weight: bold;
  text-align: center;
  width: 450px;
  margin: 15px 0 0 0;
  padding: 0 14px;
  border-radius: 0 5px 5px 0;
  background: #202;
  transition: .25s ease-in-out;
}

.song-lyric:hover {
  background-color: #BA6ACF;
  color: #000;
}

.song-info-header span {
  display: inline-block;
}

.song-info-header {
  background-color: rgba(20, 20, 20, .8);
}

.song-header-title {
  line-height: 1.0;
  font-weight: 700;
  font-size: 44px;
  padding: 7px 12px 2px 13px;
  background: #BA6ACF;
  color: #000;
  border-radius: 5px 5px 5px 0;
}

.song-header-artist {
  font-size: 24px;
  padding: 9px 3px 3px 14px;
  font-weight: 400;
}

.lines {
  margin: 5px 0 0 0;
}

.song-lyrics-by {
  display: inline-block;
  padding: 15px 0px 0px 14px;
}

#current-line {
  -webkit-transform: translate(2em,0);
  -moz-transform: translate(2em,0);
  -o-transform: translate(2em,0);
  -ms-transform: translate(2em,0);
  transform: translate(2em,0);
}


// songs index
.songsAll {
  position: relative;
  top: 50px;
  border-left: 1px solid #BA6ACF;
  border-radius: 5px 0 5px 0;
}
.song-index-image-link {
  float: right;
  margin-left: 15px;
}

.song-index-name-link {
  float: right;
}

.song-index-entry {
  width: 100%;
  border-top: 1px solid #BA6ACF;
  margin-top: 10px;
  height: 100px;
}

.all-songs-header-title {
  line-height: 1.0;
  font-weight: 700;
  font-size: 44px;
  padding: 7px 12px 2px 13px;
  background: #BA6ACF;
  color: #000;
  border-radius: 5px 5px 5px 0;
  display: inline-block;
}

.song-index-song-title {
  padding-left: 15px;
}
