<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/logo.png" alt="" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navbar-SongsAll">
          <a href="#/songs/all">All Songs</a>
        </li>
        <li class="navbar-ArtistsAll"><a href="#/artists/all">Artists</a></li>
        <li class="navbar-SongNew"><a href="#/songs/new">New Song</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (window.CURRENT_USER) { %>
          <li><a href="#"><%= CURRENT_USER.username %></a></li>
          <li><form action = "/session"
            method = "post"
            class="navbar-form navbar-right">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden"
                name="authenticity_token"
                value=<%= $('meta[name="csrf-token"]').attr('content') %>>
            <button type="submit" class="btn btn-default">Log Out</button>
          </form></li>
        <% } else { %>
          <li><form action = "/session/new"
            method = "get"
            class="navbar-form navbar-right">
            <input type="hidden" name="guest" value="true">
            <button type="submit" class="btn btn-default">Guest Log In</button>
          </form></li>
          <li><form action = "/session/new"
            method = "get"
            class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default">Log In</button>
          </form></li>
          <li><form action = "/users/new"
            method = "get"
            class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </form></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
