<%= current_action %> requires that you be logged in!
<ul>
  <li><form action = "/session/new"
    method = "get">
    <input type="hidden" name="guest" value="true">
    <button type="submit" class="btn btn-default">Guest Log In</button>
  </form></li>
  <li><form action = "/session/new"
    method = "get">
    <button type="submit" class="btn btn-default">Log In</button>
  </form></li>
  <li><form action = "/users/new"
    method = "get">
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form></li>
</ul>
