<h1>Sign Up</h1>
<!-- TODO add links to root page w/o signing in. Style better -->

<form method="post" action="<%= users_url %>">
  <%= form_token %>

  <label for="Username">Username: </label>
  <input type="text"
    id="Username"
    name="user[username]"
    value="<%= @user.username %>">

  <label for="email">Email: </label>
  <input type="text"
    id="email"
    name="user[email]"
    value="<%= @user.email %>">

  <label for="Password">Password: </label>
  <input type="password"
    id="Password"
    name="user[password]">

  <input type="submit" value="Sign Up">
</form>
