/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style: none;
  padding-left: 0;
}

a, a:hover {
  color: #ccc;
}

.group::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Lora";
  font-size: 20px;
  font-weight: 400;
  background: #141414;
  color: #ccc;
}

h3 {
  margin-top: 5px;
}

#content {
    display: block;
    width: 900px;
    margin: 0 auto;
    padding: 0 0 100px 0;
}

.btn {
  position: relative;
}

textarea {
  background: #333;
}

input[type="text"] {
  background: #333;
}

input[type="password"] {
  background: #333;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
  background-color: #BA6ACF;
  border-color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #AD60C2;
    border-radius: 6px;
}

.navbar a {
  color: #141414;
}

.navbar img {
  height: 50px;
  position: relative;
  top: -15px;
}

.header-image-holder {
  width: 100%;
  height: 290px;
}

.header-image {
  width: 100%;
}

abbr[title], abbr[data-original-title] {
    cursor: default;
    border-bottom: 1px dotted #777777;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
