<span class="all-songs-header-title">Welcome to MusicMastrMind</span>
<p>
  
This is a song lyrics website that gives users the power to annotate their favorite tunes. Check out some of the existing songs or add your own!
</p>

<div class="songs-all"></div>
