<!-- TODO this should be called for different sets of songs. Maybe we have a list of songs from an album, or a list of songs from an artist. we need to reflect that in the title? -->

<h2>Some songs, fix this title</h2>
<ul>
  <% songs.each( function (song) { %>
    <li>
      <a href="#/songs/<%= song.id %>">
        <%= song.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>
