<div class="song-primary">
  <h2 class="song-title"><%= song.escape('title') %></h2>
  <h4>lyrics by <%= creator.escape('username') %></h4>

  <ul class="lines">
    <% song.lines().each(function (line) { %>
      <li>
        <div class="song-lyric" data-line-id="<%= line.escape('id') %>"><%= line.escape('body') %></div>
      </li>
    <% }); %>
  </ul>
</div>

<div class="line-show"></div>
