<h2 class="song-title"><%= song.escape('title') %></h2>
<ul class="lines">
  <% song.lines().each(function (line) { %>
    <li class="lyric" data-line-id="<%= line.escape('id') %>">
      <%= line.escape('body') %>
    </li>
  <% }); %>
</ul>
<!-- TODO look up html conventions -->
<div class="line-show"></div>
