<label>
  Add Line<br/>
  <textarea class="new-line-textarea" name="line[body]"><%= line.escape("body") %></textarea>
</label>

<button type="button" class="line-form-submit btn">Submit Line</button>
