<h2 class="artist-name"><%= artist.escape('name') %></h2>


<h4>Songs By <%= artist.escape('name') %></h4>
<ul class="artist-songs">
  <% artist.songs().each(function (song) { %>
    <li>
      <div class="artist-lyric" data-song-id="<%= song.escape('id') %>"><%= song.escape('title') %></div>
    </li>
  <% }); %>
</ul>
