<div id="navbar"></div>

<h1>MusicMastrMind</h1>

<div id="content"></div>

<script>
  $(MusicMastrMind.initialize);
  <% if logged_in? %>
    window.CURRENT_USER = {};
    window.CURRENT_USER.username = '<%=current_user.username%>';
    window.CURRENT_USER.id = '<%=current_user.id%>';

  <% end %>
</script>

<!-- TODO spinner test -->
<div id="loading"></div>
<script>
  var spinner = new Spinner().spin()
  $('#loading').append(spinner.el)
</script>
