<div id="navbar"></div>

<h1>MusicMastrMind</h1>

<div id="content"></div>

<script>
  $(MusicMastrMind.initialize);
  <% if logged_in? %>
    window.CURRENT_USER = {};
    window.CURRENT_USER.username = '<%=current_user.username%>';
    window.CURRENT_USER.id = '<%=current_user.id%>';

  <% end %>
</script>

<!-- TODO remove this, just for Developement -->
<!-- <script>
  window.song1 = new MusicMastrMind.Models.Song({id: 1});
  song1.fetch();
  window.lines1 = new MusicMastrMind.Collections.Lines([], {song: song1});
  lines1.fetch();
  window.line1 = lines1.getAndFetch(1);
  window.interpretations1 = new MusicMastrMind.Collections.Interpretations([], {line: line1});
  interpretations1.fetch();
  window.interpretation1 = interpretations1.getAndFetch(1);
</script> -->
