<div id="navbar"></div>

<div id="content"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">MusicMastrMind</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li><form action = "session/new"
            method = "get">
            <input type="hidden" name="guest" value="true">
            <button type="submit" class="btn btn-default">Guest Log In</button>
          </form></li>
          <li><form action = "session/new"
            method = "get">
            <button type="submit" class="btn btn-default">Log In</button>
          </form></li>
          <li><form action = "users/new"
            method = "get">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </form></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Without Logging In</button>
      </div>
    </div>
  </div>
</div>

<% unless logged_in? %>
  <script type="text/javascript">
      $(window).load(function(){
          $('#myModal').modal('show');
      });
  </script>
<% end %>

<script>
  $(function () {
    MusicMastrMind.initialize();
  });
  <% if logged_in? %>
    window.CURRENT_USER = {};
    window.CURRENT_USER.username = '<%=current_user.username%>';
    window.CURRENT_USER.id = '<%=current_user.id%>';

  <% end %>
</script>

<script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%=ENV['CLOUD_NAME']%>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
  };
</script>
