<% if (interpretation.isNew()) { %>
  <h3>New Interpretation</h3>
<% } else { %>
  <h3>Edit Interpretation</h3>
<% } %>
<ul class="interpretation-form-errors"></ul>
<label>
  Comment Content
  <textarea name="interpretation[body]"><%= interpretation.escape("body") %></textarea>
</label>

<button type="button" class="interpretation-form-submit btn">Submit</button>
