<% if (interpretation.isNew()) { %>
  <h3>New Interpretation</h3>
<% } else { %>
  <h3>Edit Interpretation</h3>
<% } %>
<ul class="interpretation-form-errors"></ul>

<textarea name="interpretation[body]" class="new-interpretation-textarea"><%= interpretation.escape("body") %></textarea>


<button type="button" class="interpretation-form-submit btn btn-default">Submit</button>
