<h3>New Interpretation</h3>
<form>
  <input type="hidden"
         name="interpretation[line_id]"
         value="<%= line.escape("id") %>">

  <label>
    Comment Content
    <textarea name="interpretation[body]"></textarea>
  </label>

  <input type="submit">
</form>
