<%= interpretation.escape('body') %>
<b> - <%= interpretation.creator().escape('username') %></b>
<% if (belongsToCurrentUser) { %>
  <button type="button" class="interpretation-delete btn">Delete</button>
  <button type="button" class="interpretation-edit btn">Edit</button>
<% } %>
